@import './variables.scss';

*{
  font:bold;
}

body {
  background: $linear-gradient-red;
  color: $secondary-color;
  box-sizing: border-box;
  margin-top: 2.5rem;
}
.main-title {
  color: $secondary-color;
}

.nav-title{
  font-size: 1em;
}
h1 {
  text-shadow: 0.125rem 0.438rem 0.313rem rgba(143, 136, 129, 0.3),
    0px -0.25rem 0.625rem rgba(255, 255, 255, 0.3);
  text-align: center;
  padding-top: 1rem;
}
.task-app {
  justify-content: center;
  padding: 1rem 2.5rem;
  display: flex;
  align-items: left;
  h1{
    color: $secondary-color;
  }
}

.task-app h1 {
  text-shadow: 2px 7px 5px rgba(143, 136, 129, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

/* task list */

.task-principal-list {
  flex: 50%;
  width: 34.5rem;
  min-width: fit-content;
  min-height: 25rem;
  background-color: $primary-color;
  padding: 1.5rem;
  max-width: fit-content;
  margin: 1.8rem 1.2rem;
  border-radius: 26px;
  border: 2px darken($primary-color, 10%);
  border-style: ridge;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .task-button{
    padding:0.35rem;
    font-size: 20px;
    background-color: $red;
    border: none;
    border-radius: 15%;
    cursor: pointer; 
    outline:none;
    color: white;
    font-weight: bold;
    svg{
      color: white;
    }
    .task-input{
      background-color: white;
      font-size: 20px;
      min-width: 1rem;
      border-radius: 5px;
      border: 2px solid $borders;
      outline: none;
      margin: 0px 5px;
      &:hover{
          border: 2px solid lighten($red,5%) !important;
      }
  }
}
}

.void{
  padding: 3rem;
}
.con-title {
  color: $secondary-color;
  text-shadow: 2px 2px 2px rgba(206, 89, 55, 0);
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* task */

.task-container {
  width: 350px;
  font-weight: bold;
  min-height: 65px;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: lighten(red, 14%);
  color: $primary-color;
  cursor: pointer;
}

.validation-message {
  color: $secondary-color;
  font-size: 1.2rem;
}

/*timer modal*/
.timer-con .modal-content h2 {
  margin-bottom: 1.3rem;
}

/* texto */
.task-text {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.task-icon {
  width: 25px;
  height: 25px;
  margin: 5px;
}

/* task complete */

.task-container.complete {
  text-decoration: line-through;
  background-color: rgba(56, 49, 50, 0.993), 0.644;
  opacity: 0.5;
}

.icon {
  display: none;
  font-size: 1.5rem;
  transition: opacity 0.5s ease;
}

.button-text {
  display: block;
  transition: opacity 0.5s ease;
}

@media (max-width: 850px) {
  .task-app {
    padding: 1rem 2.5rem;
    display: flex;
    flex-direction: column; /* items will stack vertically */
    align-items: center;
  }

  .task-principal-list {
    width: auto;
    margin: 15px 20px;
    justify-content: center;
  }
  .timer-con {
    width: auto;
    margin: 15px 20px;
    justify-content: center;
  }

  .task-container {
    width: 250px !important;
  }

  .task-button {
    padding: 0.35rem !important;
  }

  .button-text {
    display: none;
  }
  .icon {
    display: block;
  }
}

@media (max-width: 480px) {
  /* 480px is a common breakpoint for mobile devices */
  body {
    margin-top: 5%;
    font-weight: 200; /* Change fixed px to relative % */
  }

  h1,
  .main-title {
    padding: 1rem;
    width: 100%;
    font-size: 1.85rem; /* Already responsive unit */
  }

  .task-app {
    padding: 1.5%; /* Change fixed px to relative % */
  }

  .task-principal-list,
  .timer-con {
    min-width: min-content;
    width: 80vh !important; /* Change fixed px to relative % */
    margin: 1rem 0; /* Change fixed px to relative % */
    padding: 0.5rem;
  }

  .task-container {
    width: auto;
    font-size: 0.9rem; /* Already responsive unit */
  }

  .task-button {
    border-radius: 15% !important;
    padding: 0.35rem !important;
  }

  #timer {
    font-size: 1.5rem; /* Already responsive unit */
  }

  .timer-input {
    width: 2.5rem !important; /* Change fixed px to relative rem */
    font-size: 1.8rem; /* Change fixed px to relative rem */
  }

  .fix-timer-con {
    padding: 0 !important; /* Change fixed px to relative % */
    margin: 0 1.25%; /* Change fixed px to relative % */
  }

  .fix-timer-con .fix-timer .task-button-timer {
    height: 3rem !important; /* Change fixed px to relative rem */
    width: 3rem !important; /* Change fixed px to relative rem */
    margin: 0.3rem;
    padding: 0.35rem;
  }
}
